*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
.cache
.vagrant
.sass-cache
node_modules
build

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

# EMACS
*~
\#*\#
.\#*

# Other build artifacts
source/index.html.md
raml2markdown/slate/*-api.md

code-examples-validator
raml2http.jar
raml2markdown/code-examples
raml2markdown/oas-raml-converter
raml2markdown/OAS
