#%RAML 1.0
---
title: Management
version: v1
baseUri: https://api-sandbox.lifeengine.io
mediaType: application/json
description: |
  The Management API provides means to simplify and combine often performed
  actions. Such are for example creating a DataProduct that involves creating
  both the identity and links between it, the developer and the Nexus.
/management/v1/products:
  description: |
    Create, read, update and delete DataProducts
  post:
    description: |
        Create a new DataProduct identity and create a DeveloperOf type link
        from the group identity to the DataProduct and a PublishedOn type link
        from the DataProduct to the Nexus.
    headers:
      Authorization: !include includes/properties/authorization-headers.yaml
      X-Nexus-Token: !include includes/properties/nexus-headers.yaml
    body:
      properties: !include includes/properties/product-create-request.yaml
      example: !include includes/examples/product-create.json
    responses:
      201:
        body:
          properties: !include includes/properties/product-create-response.yaml
          example: !include includes/examples/product-create-response.json
      401:
          body:
            example: !include includes/examples/unauthorized-401.json
      403:
        body:
          example: |
            {
              "error": {
                "status": 403,
                "message": "User is not a member of group."
              }
            }
      404:
        body:
          example: |
            {
              "error": {
                "status": 404,
                "message": "Nexus not found"
              }
            }
      422:
        body:
          example: |
            {
              "error": {
                "status": 422,
                "message": "Could not create identity."
              }
            }
  /{standard}:
    description: Read, update and delete data product sources.
    uriParameters:
      standard:
        description: The standard of the DataProduct.
        type: string
        example: Weather/Current/Metric
    get:
      description: |
        Read a DataProduct identity published on a Nexus.
      queryParameters:
        source:
          description: |
            The name of the source for the data product.
          type: string
          example: "ExampleOpenWeatherMap"
      headers:
        Authorization: !include includes/properties/authorization-headers.yaml
        X-Nexus-Token: !include includes/properties/nexus-headers.yaml
      responses:
        200:
          body:
            properties: !include includes/properties/product-response.yaml
            example: !include includes/examples/product.json
        401:
          body:
            example: !include includes/examples/unauthorized-401.json
        403:
          body:
            example: !include includes/examples/unauthorized.json
    put:
      description: Update a DataProduct source.
      queryParameters:
        source:
          description: |
            The name of the source for the data product.
          type: string
          example: "ExampleOpenWeatherMap"
      headers:
        Authorization: !include includes/properties/authorization-headers.yaml
        X-Nexus-Token: !include includes/properties/nexus-headers.yaml
      body:
        properties: !include includes/properties/product-request.yaml
        example: !include includes/examples/product-update.json
      responses:
        200:
          body:
            properties: !include includes/properties/product-response.yaml
            example: !include includes/examples/product-update.json
        401:
          body:
            example: !include includes/examples/unauthorized-401.json
        403:
          body:
            example: !include includes/examples/unauthorized.json
        422:
          body:
            example: |
              {
                "error": {
                  "status": 422,
                  "message": "Could not update identity."
                }
              }
    delete:
      description: Delete a DataProduct source.
      headers:
        Authorization: !include includes/properties/authorization-headers.yaml
        X-Nexus-Token: !include includes/properties/nexus-headers.yaml
      responses:
        204:
          body:
            example: {}
        401:
          body:
            example: !include includes/examples/unauthorized-401.json
        403:
          body:
            examples:
              'No ACL permissions': !include includes/examples/acl-permission-denied-403.json
              'Unauthorized': !include includes/examples/unauthorized.json
